@charset 'utf-8';

.about_list{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  margin-top:50px;
}
.about_list>li{
  position: relative;
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-evenly;
  align-items:center;
  width:23%;
  height:300px;
  background:#ffffff;
}
.about_list>li:hover::after{
  content:'안녕하세요';
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  color:#ffffff;
  font-size:2em;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
}
.about_list>li>span{
  position:absolute;
}
.about_list>li>span:nth-child(1){
  left:0;top:0;width:0;height:6px;background-color:red;transition:0.3s linear;
}
.about_list>li:hover>span:nth-child(1){
  width:100%;
}
.about_list>li>span:nth-child(2){
  right:0;top:0;width:6px;height:0;background-color:red;transition:0.3s linear;
}
.about_list>li:hover>span:nth-child(2){
  height:100%;
  transition-delay: 0.3s;
}
.about_list>li>span:nth-child(3){
  right:0;bottom:0;width:0;height:6px;background-color:red;transition:0.3s linear;
}
.about_list>li:hover>span:nth-child(3){
  width:100%;
  transition-delay: 0.6s;
}
.about_list>li>span:nth-child(4){
  left:0;bottom:0;width:6px;height:0;background-color:red;transition:0.3s linear;
}
.about_list>li:hover>span:nth-child(4){
  height:100%;
  transition-delay: 0.9s;
}

.about_list>li>.img_box{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:4em;
  color:#ffffff;
  width:150px;
  height:150px;
  border-radius:50%;
  /* border:1px solid black; */
}
.about_list>li:nth-child(1)>.img_box{
  background-color:lightgreen;
}
.about_list>li:nth-child(2)>.img_box{
  background-color:lightblue;
}
.about_list>li:nth-child(3)>.img_box{
  background-color:lightcoral;
}
.about_list>li:nth-child(1),
.about_list>li:nth-child(2){
    margin-bottom:30px;
}
.about_list h3{
  font-size:2em;
  color:#333333;
}
.about_list p{
  color:#666666;
}





/* 테블릿 스타일 */
@media (max-width:960px){
  h2{padding-top:40px;padding-bottom:10px;}
  .about_list{margin-top:30px;}
  .about_list>li{
    width:48%;
  }
  #i_am{height:auto;}
  .about_list>li{width:100%;}
}






/* 모바일 스타일 */
@media (max-width:767px){
  .about_list>li{
    width:100%;
  }
  .about_list>li:nth-child(3){
      margin-bottom:30px;
  }
}