@charset 'utf-8' ;
/* 기본스타일 */
.section{
    width:100%;
    max-width:1980px;
    height:100vh;
    margin:0 auto;
    padding-top:80px;
}

/* 태블릿스타일 */
@media (max-width:960px){
    .section{
        height:500px;
    }
}







@media(max-width:767px){
    .section{
        height:100vw;
    }
}