@charset "utf-8";

.skill_list>li{
    width:32%;
}
.skill_list>li:hover{
    width:32%;
}
.skill_list>li>.img_box{
    transition:0.3s;
    transition-delay:0.1s;
}
/* 
.skill_list>li:hover>.img_box{
    transform:scale(1.1) skew(5deg,5deg) rotate(5deg);
} */
.skill_list>li:hover>.img_box{
    transform: scale(1.1);
}
.skill_list>li>.img_box>img{
    width:100%;
}
.progress{
    width:100%;
    max-width:260px;
    height:20PX;
    background-color:#f7f7f7;
    position:relative;
}
.progress>span{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:0.9em;
    color:#333;
}
.skill_list>li .progress::before{
    content:'';
    display:block;
    width:0;
    height:100%;
    background-color:#ccc;
    transition:0.3s;
}
.skill_list>li:nth-child(1):hover .progress::before{
    width:90%;
}
.skill_list>li:nth-child(2):hover .progress::before{
    width:80%;
}
.skill_list>li:nth-child(3):hover .progress::before{
    width:70%;
}
.skill_list>li:nth-child(4):hover .progress::before{
    width:80%;
}
.skill_list>li:nth-child(5):hover .progress::before{
    width:80%;
}
.skill_list>li:nth-child(6):hover .progress::before{
    width:80%;
}

.skill_list>li:hover::after{
    content:'';
    display:block;
    width:0;
    height:0;
}




/* 테블릿 스타일 */
@media (max-width:960px){
    .skill_list>li{
      width:50% !important;
    }
  }


/* 모바일 스타일 */
@media (max-width:767px){
    .skill_list>li{
      flex-flow:column nowrap !important;
      width:100% !important;
    }
    .progress{
      width:60%;
      /* max-width:200px; */
    }
}