@charset "utf-8";
#tel{margin-bottom:100px;}
#tel .container{
    margin-top:50px;
}
#tel .container>.contect_img,
#tel .container>.contect_txt{
    width:50%;
    float:left;
}
#tel .container>.contect_img{
    display:flex;
    justify-content: center;
    align-items:center;
    height:350px;
}
#tel .container>.contect_img>img{
    width:50%;
    border-radius:50%;
}
#tel .container>.contect_txt{
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items: flex-start;
}
#tel .container>.contect_txt>p{
    font-weight:bold;
    font-size:1.6em;
    color:black;
}
#tel .container>.contect_txt>p>span{
    font-size:0.85em;
}
#tel .container>.contect_txt>iframe{
    width:100%;
    height:200px;
}


/* 태블릿스타일 */
@media (max-width:960px){
    #tel .container>.contect_img,
    #tel .container>.contect_txt{
        width:100%;
        margin:50px 0;
    }
    #tel .container>.contect_txt{
        align-items:center;
    }
    #tel .container>.contect_txt>i{
        height:350px;
    }



    
/* 모바일 스타일 */
@media (max-width:767px){
    #tel{margin-bottom:120px;}
    #tel .container>.contact_img,
    #tel .container>.contact_txt{
      margin:20px 0;
    }
  }

}
