@charset 'utf-8';

#welcome{
  position: relative;
  overflow: hidden;
}
#welcome video{
  position:absolute;
  left:50%;
  top:calc(50% + 80px);
  z-index:8;
  transform:translate(-50%,-50%);
  width:100%;  
  
}
.btn_box{
  position: absolute;
  left:0;
  bottom:20vh;
  z-index:9;
  width:100%;
  text-align:center;
}
.btn_box>a{
  display:inline-block;
  width:140px;
  border:2px solid #ffffff;
  margin:0 10px;
  border-radius:6px;
  padding:10px;
}
.btn_box>a>input{
  font-size:24px;
  background:transparent;
  color:#ffffff;
}
.btn_box>a:hover{
  background-color:#ffffff;
}
.btn_box>a:hover>input{
  color:gray;
}